* {
    padding: 0px;
    margin: 0px;
}

body {
    display: grid;
    width: 100%;
    place-items: center;
}

div {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    width: 250px;
}
article p {
    width: 100%;
    height: 250px;
}

.candy1,
.candy2,
.candy3,
.candy4,
.candy5,
.candy6 {
    background-size: cover;
    background-repeat: no-repeat
}

.candy1 {
    background-image: url("../images/candy1.jpeg");
}


.candy2 {
    background-image: url("../images/candy2.jpg");
}

.candy3 {
    background-image: url("../images/candy3.jpeg");
}

.candy4 {
    background-image: url("../images/candy4.jpeg");
}

.candy5 {
    background-image: url("../images/candy5.jpeg");
}

.candy6 {
    background-image: url("../images/candy6.jpeg");
}

@media only screen and (min-width:600px) {

    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 600px;
    }

    article p {
        height: 300px;
        
    }
}

@media only screen and (min-width:1000px) {

    div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        width: 1000px;
    }

    article p {
        height: 350px;
    }
}